[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gr = "*"
wheel = "*"
numba = "*"
mtree = {ref = "search_opt", git = "https://github.com/EmDash00/mtree.git"}

[dev-packages]

[requires]
python_version = "3.8"
